<section class="about">
  {% if include.divider == true %}
    <div class="wrap"><hr/></div>
    {% endif %}
  <div class="wrap grid">

    <div class="about__image">
      <img src="{{ '/images/profile_pic.jpg' | relative_url }}" alt="">

      {% include component-socials.html %}
    </div>

    <div class="about__content">
      <h2 class="title">Hey, I’m Hoa, you can call me David, happy to meet connect with you!</h2>
      <p class="subtitle subtitle--light">I’m a designer and a developer with over 12 years of experience under my belt.
      </p>

      <p>As a passionate developer, I'm on the lookout for opportunities to further improve my skills and contribute to exciting projects. 
        With experience in web development, programming APIs, plugins for frameworks, and delving into computer networking, 
        I thrive on problem-solving challenges.</p>
      <p>I’d love to learn about your company and see how I can help, feel free to email me!</p>

      <a href="#" class="cta button--fill contact-trigger js-contact">Get in Touch</a>
    </div>
  </div>
</section>
